:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.go-live-container{
  height: 100%;
}

.attendance-list{
  align-items: initial;

  .attendance-list-container{
    overflow: auto;
    flex-grow: 1;
    width: 100px;
  }
  .overlay-present{
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    // background-color: rgba(165,190,0,0.5);
    color: #335367;
    .participant-image{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-size: cover;
    }
    .participant-icon{
      color: #4BFF44;
    }
  }
  .overlay-absent{
    display: flex;
    align-items: center;
    width:100%;
    height: 100%;
    // background-color: rgba(85,83,88,0.5);
    color: #335367;
    .participant-image{
      border-radius: 100%;
    }
  }
}

.image-container{
  display: flex;
  .closer-look-image{
    border-radius: 100%;
    margin:auto;
  }
}

.closer-look-title{
  justify-content: center;
  padding: 15px 0 15px 0
}
.closer-look-content{
  display:flex;
  flex-direction: column;
  .closer-look-name{
    margin: auto;
  }
  .closer-look-position{
    margin: auto;
  }
}
