:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-container{
  height:100%;
}
.sidenav{
  width: 11em;
  background-color: rgba(20,46,68,0.95);
  .navlogo{
    display: flex;
    height: 3em;
    img{
      margin: auto;
    }
  }
  .sidediv{
    height:4em;
    .sidebutton{
      color: white;
      line-height: 4em;
      width: 100%;
    }
    .chosenButton{
      color: rgb(169,153,242);
      line-height: 4em;
      width: 100%;
      background-color: rgba(20,32,48,1);
      }
  }
  .bottom-nav{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    }
}
.sidenav-content{
  margin-top:3em;
  .event-card{
    background-image: url(assets/event.jpg);
    margin-top: 4em;
    margin-left: 8em;
    margin-right: 8em;
    // height: 16em;
    background-size: cover;
    .event-card-title{
      font-size: 30px;
      color: white;
      font-weight: bold;
    }
    .card-icon{
      color: white;
    }
    .card-info{
      color: white;
    }

    .edit-icon{
      color:rgb(169,153,242);
      font-size: 1em;
    }
    .card-button{
      color: #946fae;
    }
  }
  .page-container{
    margin: 1em;
    width: 100%;
  }
}

:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

::ng-deep .mat-card-header-text{
  margin: auto !important;
}

.mat-card-header{
  display: flex;
}

.cards{
  display: flex;
}

.list-event-status{
  margin-top: 4em;
  .event-status-header{
    color: #3d4750;
    font-size: 1.2em;
  }
}

.list-button{
  background-color: #946fae;
  color:white;
  width: 8em;
}

.list-action{
  margin-left: 2em;
  margin-top: 1.5em;
}
