:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-container{
  height:100%;
}
.sidenav{
  width: 11em;
  background-color: rgba(20,46,68,0.95);
  .navlogo{
    color: #335C67;
    display: flex;
    height: 3em;
    // background-color: white;
    img{
      margin: auto;
    }
    .navlogo-text{
      line-height: 3em;
      height: 3em;
      color: #335C67;
      text-align: center;
      margin: auto;
      font-weight: 700;
    }
  }
  .sidediv{
    height:4em;
    .sidebutton{
      color: white;
      line-height: 4em;
      width: 100%;
    }
    .chosenButton{
      color: rgb(169,153,242);
      line-height: 4em;
      width: 100%;
      background-color: rgba(20,32,48,1);
      }
  }
  .bottom-nav{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    }
}
.sidenav-content{
  margin-top:3em;
  .page-container{
    margin: 1em;
    width: 100%;
  }
}

:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
