<!-- <app-toolbar [pageName] = "pageName"></app-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="navlogo">
      <img src="assets/logo.png" width="40" height="30"/>
      <div class="navlogo-text">
        Smart Event
      </div>
    </div>
    <div class="sidediv" >
      <button mat-raised-button class="chosenButton" [routerLink]="['/',eventId,'home']">Dashboard</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'speaker']">Speaker</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'map']">Locations</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'about']">About</button>
    </div>

    <div class="bottom-nav">
      <button mat-button class="back-hint" [routerLink] = "['/event-mgmt']">
        Other Events
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="profile-icon">perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink] = "['/change-pwd']">Change Password</button>
        <button mat-menu-item [routerLink] = "['/login']">Log out</button>
      </mat-menu>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <div class="page">
      <h3>Number of People Present</h3>
      <div class="chart">
        <circle-progress
          [title]="84"
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [subtitle]="'Present'"
          [showUnits]="false"
        ></circle-progress>
      </div>
      <br><br>
      <h3>Event Schedule</h3>
      <div class="schedule-div">
        <img src="assets/schedule.png">
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
