
.sidenav-container{
  margin-top:3em;
  height:100%;
}
.sidenav{
  width: 15em;
  height: 100em;
  background-color: inherit;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

  .sidediv{
    height:4em;

    .sidebutton{
      height: 70%;
      margin-top: 2em;
      width: 100%;
    }
  }
}
.sidenav-content{
  margin-top:3em;
}

:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
