<!-- <app-toolbar [pageName] = "pageName"></app-toolbar> -->
<mat-sidenav-container class="sidenav-container">
  <!-- Navigation Bar-->
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="navlogo" [routerLink]="['/event-mgmt']">
      <img src="assets/logo.png" width="40" height="30"/>
      <div class="navlogo-text">
        Smart Event
      </div>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'home']">Home</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'schedule']">Schedule</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'map']">Map Settings</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-raised-button class="sidebutton" color="primary" [routerLink]="['/',eventId,'analysis']">Analysis</button>
    </div>
  </mat-sidenav>

  <!-- Main Content-->
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar></app-toolbar>
    <!-- <button mat-button>Close All</button> -->
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Demographics
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="gender">
          <img src="assets/bizwoman.png" width="80" height="80" class="bizwoman"/>
          <div class="gender-chart" *ngIf="chartData">
            <ngx-charts-number-card
              [view]="genderView"
              [results]="gender"
              [valueFormatting]="formatGender"
              [innerPadding]="100"
              [animations]="true">
            </ngx-charts-number-card>
          </div>
          <img src="assets/bizman.png" width="80" height="80"/>
        </div>

        <!-- <div class="country" *ngIf="chartData">
          <ngx-charts-advanced-pie-chart
            class="countryChart"
            [scheme]="countryScheme"
            [view]="countryView"
            [results]="country"
            [gradient]="gradient"
            [label]="'Participants'">
          </ngx-charts-advanced-pie-chart>
        </div> -->
        <div class="line">
          <div class="country" *ngIf="chartData">
            <!-- <ngx-charts-tree-map
              class="level"
              [scheme]="colorScheme"
              [view]="countryView"
              [results]="country"
              [customColors]="customColors"
            ></ngx-charts-tree-map> -->
            <app-treemap-country [country]="country"></app-treemap-country>

          </div>

          <div class="industry" *ngIf="chartData">
            <app-treemap-industry [industry]="industry"></app-treemap-industry>
            <!-- <ngx-charts-tree-map
              class="industry"
              [scheme]="'fire'"
              [view]="industryView"
              [results]="industry"
            ></ngx-charts-tree-map> -->
          </div>
        </div>


        <div class="level" *ngIf="chartData">
          <ngx-charts-bar-horizontal
            class="level"
            [scheme]="'natural'"
            [view]="levelView"
            [results]="level"
            [legend]="true"
            [legendTitle]="'Legend'"
            [xAxis]="true"
            [yAxis]="true"
            [showXAxisLabel]  = "true"
            [showYAxisLabel]= "true"
            [xAxisLabel] = "'Number of participants'"
            [yAxisLabel]="'Job Level'"
            [xAxisTickFormatting]="formatJobLevel">
          </ngx-charts-bar-horizontal>
        </div>

      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Attendance
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="level" *ngIf="attendanceData">
          <ngx-charts-line-chart
          [view]="levelView"
          [results]="attendances"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [legend]="true"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [yScaleMax]="80"
          [yScaleMin]="70"
          [xAxisLabel]="'Program'"
          [yAxisLabel]="'Number of Participants Present'">
          </ngx-charts-line-chart>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tracking
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="heatmap">
          <app-analysis-heatmap></app-analysis-heatmap>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav-content>
</mat-sidenav-container>
