<!-- <app-toolbar [pageName] = "pageName"></app-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <!--Navigation Bar-->
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="navlogo">
      <img src="assets/logo.png" width="40" height="30"/>
      <div class="navlogo-text">
        Smart Event
      </div>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'home']">Dashboard</button>
    </div>
    <div class="sidediv" >
      <button mat-raised-button color="primary" class="sidebutton" [routerLink]="['/',eventId,'speaker']">Speaker</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'map']">Locations</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'about']">About</button>
    </div>

    <div class="bottom-nav">
      <button mat-button class="back-hint" [routerLink] = "['/event-mgmt']">
        Other Events
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="profile-icon">perm_identity</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink] = "['/change-pwd']">Change Password</button>
        <button mat-menu-item [routerLink] = "['/login']">Log out</button>
      </mat-menu>
    </div>

  </mat-sidenav>

  <!--Main Content-->
  <mat-sidenav-content class="sidenav-content">
    <!--Check whether got anyone speaking-->
    <mat-checkbox [(ngModel)]="speaking">someone speaking</mat-checkbox>
    <!--someone speaking-->
    <div class="page" *ngIf="speaking">
      <button mat-raised-button (click)="toFullScreen()">Full Screen</button>
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          <div class="content">
            <img class="img" src={{avatar}}>
            <h1>MICHELE ACUTO</h1>
            <br>
            <h3>Professor of Urban Politics</h3>
            <h3>Melbourne School of Design</h3>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <!--no one speaking-->
    <div class="" *ngIf="!speaking">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>
          No One Speaking Now
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
