<!-- <app-toolbar [pageName] = "pageName"></app-toolbar> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="navlogo" [routerLink]="['/event-mgmt']">
      <img src="assets/logo.png" width="40" height="30"/>
      <div class="navlogo-text">
        Smart Event
      </div>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'home']">Home</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'schedule']">Schedule</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >

      <button mat-raised-button class="chosenButton" [routerLink]="['/',eventId,'map']">Map Settings</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'analysis']">Analysis</button>
    </div>
  </mat-sidenav>


  <mat-sidenav-content class="sidenav-content">
    <app-toolbar [pageName]=pageName></app-toolbar>
    <div class="page-content">
      <h3>Map Settings</h3>
      <div>
          <mat-form-field class="align-map">
            <input matInput placeholder="Height" [(ngModel)]="map.height" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <mat-form-field class="align-map">
            <input matInput placeholder="Width" [(ngModel)]="map.width" [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          <label class="align-map">
            <input type="file" (change)="selectFile($event)" class="file-input">
            <div class="file-text">Upload Photo</div>
          </label>
          <button class="align-map" mat-raised-button color="accent" (click)="saveMap()">Save The Map</button>

      </div>
      <div class="bottom">
        <div class="map-image" *ngIf="map.width != 0 && map.height !=0">
          <div class="image-container" [style.width.px]="map.width * ratio"
                                        [style.height.px]="map.height * ratio" class="image-contiainer">
              <div *ngIf="map.scale != null" class="image-url-contain">
                <img [src]="sanitizer.bypassSecurityTrustUrl(map.scale)" class="image" />
              </div>
              <!-- <div *ngIf="tables.length>0">
                <div *ngFor="let table of tables">
                  <div class="reader-image" [style.marginTop.px]="-table.tableY*ratio-10" [style.marginLeft.px]="table.tableX*ratio-10">
                      {{table.tableId}}
                  </div>
                </div>
              </div> -->
          </div>
        </div>
          <!-- <app-d3-map-container [map]="map" [tables]="tables" [windowWidth]="windowWidth" [windowHeight]="windowHeight" [participants]="participants"></app-d3-map-container> -->
        <div class="customization">
          <button mat-raised-button color="accent" (click)="addTable()">Add Reader</button>
          <button mat-raised-button color="accent" (click)="saveReader()">Save All Readers</button>
          <div *ngFor="let table of tables ; index as i " class="tables">
            <div class="reader-label">
              Reader {{i+1}}
            </div>

            <mat-form-field>
              <input matInput placeholder="Reader X" [(ngModel)]="table.tableX">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Reader Y" [(ngModel)]="table.tableY">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Reader Mac" [(ngModel)]= "table.mac">
            </mat-form-field>
            <button mat-icon-button (click)="removeTable(i)">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
