:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.bottom{
  display: flex;
  .customization{
    padding: 1.5em;

    .tables{
      padding-top: 1em;
      display: flex;
    }
  }
}

.file-input{
  display: none;
}

.file-text{
    width: 3em;
    border-radius: 6%;
    display: inline;
    padding: 0.4em;
    margin: 1.2em;
    color: white;
    background-color: #ff9800c2;
}

.mat-raised-button{
  margin: 0.2em;
}


.reader-image{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 100%;
  text-align: center;
  position: absolute;
}

.reader-label{
  font-weight: bold;
  padding: 1em;
}
.image-contiainer{
  border: 1px solid black;
  .image-url-contain{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    .image{
      height: 100%;
      width: 100%;
    }
  }
}


.sidenav-container{
  height:100%;
}
.sidenav{
  width: 11em;
  // height: 100em;
  background-color: #335C67;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  .navlogo{
    color: #335C67;
    display: flex;
    background-color: white;
    img{
      margin: auto;
    }
    .navlogo-text{
      line-height: 3em;
      height: 3em;
      color: #335C67;
      text-align: center;
      margin: auto;
      font-weight: 700;
    }
  }
  .sidediv{
    height:4em;
    .sidebutton{
      color: white;
      line-height: 4em;
      width: 100%;
    }
    .chosenButton{
      color: white;
      line-height: 4em;
      width: 100%;
      background-color: #E69317;
      }
    }
  .bottom-nav{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    }
  }
.sidenav-content{
  margin-top:3em;
  .page-content{
    margin: 1em;
  }
}

:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
