<app-toolbar [pageName] = "pageName"></app-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'home']">Home</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'speaker']">Speaker</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >
      <button mat-raised-button color="primary" class="sidebutton" [routerLink]="['/',eventId,'map']">Locations</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'about']">About</button>
    </div>

  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    Map page Works!
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br>
  </mat-sidenav-content>
</mat-sidenav-container>
