.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 4em 6em;
    .card{
        .material-icons{
            color: gray;
        }
        position: relative;
        width: 13em;
        margin: 2em 0;
        .event-icon{
            color: white;
            font-size: 3em;
            position: absolute;
            top: -0.6em;
            background-color: #8BC34A;
            box-shadow: 1px 1px 1px 1px lightgrey;
            border-radius: 6px;
            padding: 0.4em;
        }
        .event-title{
            font-weight: 200;
            text-align: right;
            font-size: 2em;
            border-bottom: solid 1px gray;
            padding: 0.3em 0;
            color: gray;
        }
        .content{
            style: none;
            th{
                font-weight: 300;
                text-align: right;
                vertical-align: top;
            }
        }
        .foot{
            text-align: right;
        }
    }
}