:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page{
  margin-top: 3em;
}
.top-btn{
    float:right;
    color: gray;
    padding: 0 1em;
    .btn-name{
        display: inline-block;
        font-size: 0.8em;
        font-weight: 400;
    }
}
.material-icons{
    font-size: 1.4em;
    color: gray;
    position: relative;
    top: 0.3em;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 4em 10em;
    .card{
        .material-icons{
            color: gray;
        }
        position: relative;
        width: 16em;
        margin: 2em 0;
        height: 12em;
        .event-icon{
            cursor: pointer;
            &:hover{
                background-color: green;
            }
            color: white;
            font-size: 3em;
            position: absolute;
            top: -0.6em;
            background-color: #8BC34A;
            box-shadow: 1px 1px 1px 1px lightgrey;
            border-radius: 6px;
            padding: 0.4em;
        }
        .event-title{
            font-weight: 200;
            text-align: right;
            font-size: 2em;
            border-bottom: solid 1px gray;
            padding: 0.3em 0;
            color: gray;
        }
        .content{
            style: none;
            th{
                font-weight: 300;
                text-align: right;
                vertical-align: top;
            }
        }
        .foot{
            text-align: right;
        }
    }
    .add-event{
        width: 18em;
        height: 14em;
        border-radius: 2em;
        border: dashed lightgrey 0.4em;
        &:hover{
            border-color: gray;
        }
        cursor: pointer;
        .plus{
            font-size: 10em;
            color: lightgrey;
            &:hover{
                color: gray;
            }
            padding: 0.1em;
            text-align: center;
        }
    }
}

.list {
  display: flex;
  flex-direction: column;
  max-height: 50em;
  min-width: 100px;
  max-width: 100em;
  margin: 1em;

  .search-btn {
    min-height: 64px;
  }

  .new-evnt-btn{
      float: right;
      font-weight: 200;
      font-size: 0.9em;
      padding: 15px 24px 0;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
    border: solid 1px gray;
  }

}
