:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.go-live-container{
  height: 100%;
}

.attendance-list{
  align-items: initial;



  .attendance-list-container{
    width: 100%;
    overflow : scroll;
    .attenance-list-grid{
      display: inline-grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      width: 33em;
      .content{
        display: flex;    padding-top: 8px;
        .overlay-present{
          display: flex;
          width: 7em;
          .participant-image{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-size: cover;
          }
          .participant-font{
            display: inline-block;
            font-size: 0.7em;
            // width: 1em;
          }
        }

        .participant-icon{
          color: #cde010;;
          margin: auto;
        }
      }

    }
  }
  // .overlay-present{
  //   display: inline-block;
  //   align-items: center;
  //
  //   color: #335367;


  // .overlay-absent{
  //   display: flex;
  //   align-items: center;
  //   width:100%;
  //   height: 100%;
  //   // background-color: rgba(85,83,88,0.5);
  //   color: #335367;
  //   .participant-image{
  //     border-radius: 100%;
  //   }
  // }
}

.total-present-chart{
      display: flex;
  .circle-progress-individual{
    margin: 0 45px 0 45px;
    display: flex;
    flex-direction: column;
    .title{
      margin: auto;
    }
  }

}
.image-container{
  display: flex;
  .closer-look-image{
    border-radius: 100%;
    margin:auto;
  }
}

.closer-look-title{
  justify-content: center;
  padding: 15px 0 15px 0
}
.closer-look-content{
  display:flex;
  flex-direction: column;
  .closer-look-name{
    margin: auto;
  }
  .closer-look-position{
    margin: auto;
  }
}
