:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.register-page{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url(assets/background.jpg);
    .card{
        margin: auto;
        width: 300px;
        height:400px;
        text-align: center;
        color: #335C67;
        .title{
          text-align: center;
          font-size: 2em;
          margin-bottom: 20px;
          margin-top: -30px;
          color: whitesmoke;
        }
        .email-field,
        .username-field
        .pwd-field{
          font-weight: 300;
        }
        .hint{
          display: flex;
          width: 80%;
          margin: 0.5em auto 1em auto;
          font-size: 0.7em;
          color: whitesmoke;
          .left{
            flex: 1;
            cursor: pointer;
          }
          .right{
            flex: 1;
            cursor: pointer;
          }
        }
        .button{
          margin: 14px;
          width: 10em;
          border-radius: 4em;
          background-color: #335C67;
          color: whitesmoke;
        }
      }
    }
