<app-toolbar [pageName] = "pageName"></app-toolbar>
<br>
<div class="page">
  <mat-card class="card">
    <mat-card-header class="header">
      <h4>Add New Event</h4>
    </mat-card-header>
    <mat-card-content class="content">
      <form class="form">

        <mat-form-field class="">
          <mat-label>Name</mat-label>
          <input matInput name="name" class="" type="text" [(ngModel)] = "event.eventName">
        </mat-form-field>

        <!-- <br>
        <mat-form-field class="">
          <mat-label>id</mat-label>
          <input matInput class="" type="number" name="" value="" placeholder="{{sth}}">
        </mat-form-field> -->

        <br>
        <mat-form-field class="">
          <mat-label>Date (Format: MM-DD-YYYY)</mat-label>
          <input matInput name="date" class="" type="text" [(ngModel)] = "event.eventDate" >
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Venue</mat-label>
          <input matInput name="venue" class="" type="text" [(ngModel)] = "event.venue">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Address</mat-label>
          <input matInput name="address" class="" type="text" [(ngModel)] = "event.eventaddress">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Postal</mat-label>
          <input matInput name="postal" class="" type="text" [(ngModel)] = "event.postalCode">
        </mat-form-field>

        <!-- <br>
        Avatar <br>
        <label class="upload-button">
          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
          or choose file(s)
        </label>

        <button type="button" class="start-upload-btn" (click)="startUpload()">
          Start Upload
        </button> -->

        <!-- submit button -->
        <br><br><br>
        <button mat-raised-button  type="button" name="button" color="primary" (click)="addNewEvent()">Submit</button>
        <button mat-raised-button (click)="backToEventMgmt()">Back</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
