<mat-toolbar class="toolbar">
  <div class="navlogo" [routerLink]="['/event-mgmt']">
    <img src="assets/logo.png" width="40" height="30"/>
    <div class="navlogo-text">
      Smart Event
    </div>
  </div>

  <div class="end-buttons">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="profile-icon">perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item [routerLink] = "['/change-pwd']">Change Password</button>
      <button mat-menu-item [routerLink] = "['/login']">Log out</button>
    </mat-menu>
  </div>
</mat-toolbar>
<br>
<div class="page">
  <mat-card class="card">
    <mat-card-header class="header">
      <h4>Add New Event</h4>
    </mat-card-header>
    <mat-card-content class="content">
      <form class="form">

        <mat-form-field class="">
          <mat-label>Name</mat-label>
          <input matInput name="name" class="" type="text" [(ngModel)] = "event.eventName">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Date (Format: MM/DD/YYYY)</mat-label>
          <input matInput name="date" class="" type="text" [(ngModel)] = "event.eventDate" >
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Venue</mat-label>
          <input matInput name="venue" class="" type="text" [(ngModel)] = "event.venue">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Address</mat-label>
          <input matInput name="address" class="" type="text" [(ngModel)] = "event.eventaddress">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>City</mat-label>
          <input matInput name="city" class="" type="text" [(ngModel)] = "event.city">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Country</mat-label>
          <input matInput name="country" class="" type="text" [(ngModel)] = "event.country">
        </mat-form-field>

        <br>
        <mat-form-field class="">
          <mat-label>Postal</mat-label>
          <input matInput name="postal" class="" type="text" [(ngModel)] = "event.postalCode">
        </mat-form-field>

        <!-- <br>
        Avatar <br>
        <label class="upload-button">
          <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>
          or choose file(s)
        </label>

        <button type="button" class="start-upload-btn" (click)="startUpload()">
          Start Upload
        </button> -->

        <!-- submit button -->
        <br><br><br>
        <button mat-raised-button  type="button" name="button" color="primary" (click)="addNewEvent()">Submit</button>
        <button mat-raised-button (click)="backToEventMgmt()">Back</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
