:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-container{
  height: 100%;
}
.sidenav{
  width: 11em;
  background-color: rgba(20,46,68,0.95);
  .navlogo{
    display: flex;
    height: 3em;
    img{
      margin: auto;
    }
  }
  .sidediv{
    height:4em;
    .sidebutton{
      color: white;
      line-height: 4em;
      width: 100%;
    }
    .chosenButton{
      color: rgb(169,153,242);
      line-height: 4em;
      width: 100%;
      background-color: rgba(20,32,48,1);
      }
  }
  .bottom-nav{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    }
}
.sidenav-content{
  margin-top:3em;
}
// .mat-column-avatar{
//   flex: 0 0 100px;
// }
// .mat-column-uuid{
//   flex: 0 0 80px;
// }
// .mat-column-name{
//   flex: 0 0 100px;
//   padding-right: 15px;
// }
// .mat-column-position{
//   flex: 0 0 200px;
//   padding-right: 15px;
// }
// .mat-column-organization{
//   flex: 0 0 200px;
//   padding-right: 15px;
// }
.img{
  width: 40%;
}
.edit-dele-button{
  margin: 2px;
}
.page-container{
  margin: 1em;

  // .Add-and-Search{
  //   width:inherit;
  //   .search{
  //     position:absolute;
  //     right: 0;
  //   }
  // }
}
