.sidenav-container{
  margin-top:3em;
  height: 100%;
}
.sidenav{
  width: 15em;
  height: 100em;
  background-color: inherit;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);

  .sidediv{
    height:4em;

    .sidebutton{
      height: 70%;
      margin-top: 2em;
      width: 100%;
    }
  }
}
.sidenav-content{
  //margin-top:3em;
}
.mat-column-avatar{
  flex: 0 0 100px;
}
.mat-column-uuid{
  flex: 0 0 80px;
}
.mat-column-name{
  flex: 0 0 100px;
  padding-right: 15px;
}
.mat-column-position{
  flex: 0 0 200px;
  padding-right: 15px;
}
.mat-column-organization{
  flex: 0 0 200px;
  padding-right: 15px;
}
.img{
  width: 40%;
}
.edit-dele-button{
  margin: 2px;
}
.material-icons{
  color: green;
}
.page-container{
  margin: 1em;
  display: flex;
  flex-direction: column;
  .new-button-container{
    flex: 1;
    .new-button{
      float: right;
    }
  }
  .grid-content{
    float:right;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-column-gap: 10px;
    padding: 1em 1em;
    .card {
      overflow: auto;
      max-height: 30em;
      max-width: 15em;
      box-shadow: none;
      margin-top:2em;
      .img-center{
        display:block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
      }
      .txt-center{
        text-align: center;
      }
      .btn-center{
        display: flex;
        align-items: center;
        justify-content: center;

      }
    }
  }
}
