 <!-- <mat-toolbar *ngIf="isLoggedIn$ | async"> -->
<!-- <mat-toolbar *ngIf="isLoggedIn"> -->
<mat-toolbar class="toolbar">
  <img class="logo" src="assets/viatick.png">
  <span class="title">Smart Meeting Room</span>
  <span class="example-spacer"></span>

  <div class="top-btn" *ngIf="page == '/event-mgmt'" (click)="changeView()">
    <i class="material-icons">{{view_icon}}</i>
    <p class="btn-name">{{view_name}}</p>
  </div>

  <!-- <div class="top-btn">
    <i class="material-icons">account_circle</i>
    <p class="btn-name">Account</p>
  </div> -->
</mat-toolbar>
