.toolbar{
    // border-bottom: solid 1px lightgray;
    height: 3em;
    .front-spacer{
      flex: 0.1;
    }
    .searchBar{
      .icon{
        height: 100%;
      }
      .input{
        width: 5em;
      }
    }
    .end-spacer {
      flex: 1 1 auto;
    }
    .profile-icon{
      font-size: 2em;
      top: 0;
    }
}
