<!-- <app-toolbar [pageName] = "pageName"></app-toolbar>
<br> -->
<mat-sidenav-container class="sidenav-container">
  <!-- Navigation Bar-->
  <mat-sidenav mode="side" opened class="sidenav">
    <div class="navlogo">
      <img src="assets/logo.png" width="40" height="30"/>
      <div class="navlogo-text">
        Smart Event
      </div>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'home']">Home</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'schedule']">Schedule</button>
    </div>
    <div class="sidediv" >
      <button mat-raised-button color="primary" class="sidebutton" [routerLink]="['/',eventId,'attendees']">Attendees</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'map']">Map Settings</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'go-live']">Go Live</button>
    </div>
    <div class="sidediv" >
      <button mat-button class="sidebutton" [routerLink]="['/',eventId,'analysis']">Analysis</button>
    </div>
  </mat-sidenav>

  <!-- Main Content-->
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar [eventStatus]=eventStatus></app-toolbar>
    <div class="page">
      <!-- Back Button-->
      <div class="header">
        <mat-icon [routerLink]="['/',eventId,'attendees']">arrow_back</mat-icon>
        <h3>   Edit Attendee's Particular  </h3>
      </div>
      <!-- Form Fields-->
      <mat-card>
        <mat-card-content>
          <form class="form">
            <table>
              <tr>
                <td>
                  <mat-form-field class="">
                    <mat-label>Name</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.participantName">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="">
                    <mat-label>uuid</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.uuid">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="">
                    <mat-label>Remark</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.remark">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="">
                    <mat-label>position</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.position">
                  </mat-form-field>

                  <br>
                  <mat-form-field class="">
                    <mat-label>organization</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.organization">
                  </mat-form-field>
                  <br>
                  <mat-form-field class="">
                    <mat-label>major</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.major">
                  </mat-form-field>

                  <br>
                  <mat-form-field class="">
                    <mat-label>minor</mat-label>
                    <input matInput class="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="participant.minor">
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <button mat-raised-button  type="button" name="button" color="primary" (click)="createNewAttendee()">Submit</button>

          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
