  <!-- <mat-slider
      class="program-slider"
      [max]="max"
      [min]="min"
      [step]="1"
      [tickInterval]="'auto'"
      thumbLabel
      [(ngModel)]="programChosen"
      (change)="loadTrackingBySchedule()">
  </mat-slider> -->

  <!-- <div>
    {{scheduleName}}
  </div> -->
    <button mat-raised-button color="accent" class="play-button" (click)="playAnalysis()">Play</button>
    <!-- <div class="time-line">
      <div class="time-point" *ngFor="let timePoint of schedulesArray">
        <div class="animated-point">

        </div>
      </div>
    </div> -->

    <div *ngIf="map">
      <div class="heatmap" id="map-canvas" [style.width.px]="map.width *ratio+30" [style.height.px]="map.height*ratio+10">
        <img [src]="sanitizer.bypassSecurityTrustUrl(map.scale)"  [style.width.px]="map.width *ratio+30" [style.height.px]="map.height*ratio+10">
      </div>
    </div>
