<div class="login-page">
  <div class="card">
    <mat-icon class="icon">person</mat-icon>
    <form (submit) = "login()">
    <mat-form-field class="email-field" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Your Email"
                      [(ngModel)] = "account.email"
                      [formControl]="formControl.email"
                      required />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="formControl.email.hasError('email') && !formControl.email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="formControl.email.hasError('required')">
        Email is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="pwd-field" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password"
                      type="password"
                      [(ngModel)] = "account.password"
                      [formControl]="formControl.password"
                      required/>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <mat-error *ngIf="formControl.password.hasError('required')">
        Password secret is required
      </mat-error>
    </mat-form-field>
    <div class="hint">
      <div class="left" [routerLink]="['/register']">Sign up?</div>
      <!-- <div class="right">Forget password</div> -->
    </div>
    <button mat-stroked-button class="button" type="submit" (click)="login()">Enter</button>
    </form>
  </div>

</div>
