:host{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.buffer{
    background-color: rgba(164, 202, 198, 0.98);
    position: relative;
    height: 100%;
    width: 100%;
    .content{
        color: white;
        padding: 11em;
        text-align: center;
        .outline{
            // text-align: center;
            width: 3em;
            height: 3em;
            margin: auto;
            background-color: lightgrey;
            border-radius: 2em;
            .text{
                padding: 0.9em;
            }
        }
        .word{
            padding: 2em;
            font-size: 1.5em;
        }
    }
}