:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.sidenav-container{
  height:100%;
}
.sidenav{
  width: 11em;
  background-color: rgba(20,46,68,0.95);
  .navlogo{
    display: flex;
    height: 3em;
    img{
      margin: auto;
    }
  }
  .sidediv{
    height:4em;
    .sidebutton{
      color: white;
      line-height: 4em;
      width: 100%;
    }
    .chosenButton{
      color: rgb(169,153,242);
      line-height: 4em;
      width: 100%;
      background-color: rgba(20,32,48,1);
      }
  }
  .bottom-nav{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    }
}

.sidenav-content{
  margin-top:3em;
  .page{
    margin: auto 2em auto 2em;
    width: 100%;
    .schedule-div{
      padding: 0 0 3em 2em;
    }
  }
  .gender{
    display: flex;
    padding-left: 22%;
    .bizwoman{
      padding-right: 12%;
    }
  }

  .line{
    display: flex;
    margin-left: 17%;
    .country{
      flex: 1;
      text-align: center;
      margin:auto;
    }
    .industry{
      flex:1;
      text-align: center;
      margin: auto;
    }
  }

  .level{
    display: flex;
    padding-bottom: 3em;
    padding-top: 3em;
  }

  .heatmap{
    // width: 900px;
    // height: 800px;
    // display:flex;
  }

  /deep/ ngx-charts-bar-horizontal.level{
    margin: auto;
    margin-top: 40px;
  }
}

.numbercard{
  margin: auto;
}

:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fake-left{
  width: 350px;
}

.title{
  text-align: center;
}
