<div class="image-container" [style.width.px]="map.width * ratio" [style.height.px]="map.height *ratio">
  <div class="image-layout" [style.backgroundImage]="'url(' + map.scale + ')'">
    <!-- <img src="assets/map.jpeg" class="image"/> -->
    <div *ngFor="let participant of participants" class="participant-container">
    <div *ngIf="participant.coordinateX>=0 && participant.coordinateY>=0">
      <img [src]="sanitizer.bypassSecurityTrustUrl(participant.participant.remark)" width="20" height="20"
      [style.marginLeft.px]="participant.coordinateX*ratio"
      [style.marginTop.px]="map.height*ratio - participant.coordinateY*ratio">
    </div>

    </div>
  </div>

</div>
