.image-container{
  width: 600px;
  height: 400px;
  border: 1px solid black;
  .image-layout{
    height: 100%;
    width: 100%;
    background-image: url("assets/map.jpeg");
    background-size: cover;
    .participant-container{
      position: absolute;
      img{
        border-radius: 100%;
      }
    }
  }
}
