.image-container{
  border: 1px solid black;
  .image-layout{
    height: 100%;
    width: 100%;
    background-image: url("assets/map.jpeg");
    background-size: cover;
    .test{
      width: 20px;
      height: 20px;
      border: 1px solid black;
    }
    .participant-container{
      position: absolute;
      img{
        border-radius: 100%;
      }
    }
  }
}
